body
{
    font-family:Cambria, Calibri, Optima, Verdana;    
}

.cardpile, .card
{
    float:left;    
    text-align:center;    
}

.cardpile img
{
    height: 150px;   
}

.card img
{
    height: 150px;   
}

.container
{
    padding:10px;   
    overflow-y:auto; 
}

#deck, #discards
{
    padding:10px; 
          
}

#bank
{        
    background-color:DarkSlateGray;        
    color:White;        
}

#display
{          
    font-weight:bold;
    background-color:Gray;
}

#playArea
{                    
    background-color:Green;                 
}

#display, #playArea, #bank, #bottom
{
    border-style:double;
    border-width:3px;
    border-color:Black;
}

#doBuys, #endTurn
{
    font-size:smaller;
    width:100px;    
}

.ui-effects-transfer
{
    border-width:1px;
    border-color:Black;
    border-style:dashed;
    z-index: 10;
}

.playAreaTransferTarget
{
    height:150px;
    width:93px;
    display:inline-block;
}