body
{
    font-family:Cambria, Calibri, Optima, Verdana;
}

.cardpile, .card
{
    float:left;    
    text-align:center;
}

.cardpile img
{
    height: 150px;   
}

.card img
{
    height: 200px;           
}

.container
{
    padding:10px;   
    overflow-y:auto; 
}

#bank
{        
    background-color:Black;        
    color:White;        
}

#display
{          
    font-weight:bold;
    background-color:Gray;
}

#playArea
{                    
    background-color:Green;                 
}