body
{
    font-family:Cambria, Calibri, Verdana;
}

.cardpile, .card
{
    float:left;    
    text-align:center;
}

.cardpile img
{
    height: 200px;   
}

.card img
{
    height: 200px;       
}

.container
{
    padding:10px;
}

#bank, #main, #hand
{
    overflow:visible;
    display:inline-block;
    clear:both;    
    width:100%;
}

#bank
{    
    padding:10px;
    background-color:Black;        
    color:White;    
}

#main
{
    height:220px;      
}

#display
{          
    font-weight:bold;
    height: 100%;
    width: 15%;
    float:left;   
    background-color:Gray;
}

#status table
{
    width:100%;   
}

#playArea
{            
    height: 100%;
    width: 85%;
    float:right;
    background-color:Green;       
}

#hand
{
    padding:10px;    
}