body
{
    font-family:Cambria, Calibri, Optima, Verdana;        
}

#bank .cardpile,
#hand .card
{
    cursor: pointer;
}

.cardpile, .card
{
    float:left;    
    text-align:center;    
}

.cardpile img,
.card img
{    
    height: 150px;           
}   

#bank .cardpile img,
#hand .card img
{
     border: 1px Solid Black;    
}

.container
{
    padding:10px;   
    overflow-y:auto; 
}

#deck, #discards
{
    padding:10px; 
          
}

#bank
{        
    background-color:DarkSlateGray;        
    color:White;        
}

#display
{          
    font-weight:bold;
    background-color:Gray;
}

#playArea
{                    
    background-color:Green;                 
}

#display, #playArea, #bank, #bottom, #prompt, #log, #chatLog
{
    border-style:double;
    border-width:3px;
    border-color:Black;
}

#doBuys, #endTurn
{
    font-size:smaller;
    width:100px;    
}

.ui-effects-transfer
{
    border-width:1px;
    border-color:Black;
    border-style:dashed;
    z-index: 10;
}

.playAreaTransferTarget
{
    height:150px;
    width:93px;
    display:inline-block;
}

#prompt
{
    background: white;    
    overflow: hidden;
}

.selectedCard
{    
    border: 1px solid red !important;    
}

#message
{
    float:left;    
    text-align:center;
}

#alertBox
{
    float:right;
    width:500px;
    height:50px;
    background-color:#FF2222;
}

.promptButton
{
    font-size:smaller !important;    
    float:right;    
}

#thumbPopup
{
    z-index:20;
}

#chat
{
    text-align:center;        
}

#chatBox
{
    width:500px;
    background-color:Silver;
    color:Black;   
}

.log
{
    font-size:small;
    overflow-y:scroll !important;
}